POSTGRES_USER=loyaltyhub
POSTGRES_PASSWORD=loyaltyhub
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=loyaltyhub
TEST_DATABASE_URL=postgresql+asyncpg://loyaltyhub:loyaltyhub@db:5432/loyalty_test

SECRET_KEY=ваш_очень_секретный_ключ
DEBUG=True

